


.form-div{
	margin: 50px auto 50px;
	padding: 20px;
	border: 1px solid #1E90FF;
	border-radius: 20px;
}

.form-div.login{
	margin-top: 100px;
}
.logout{
	color: red;
}


body {
 background-image: url("pic/blueberry.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-color: #cccccc;
}

